APP_NAME=LTU-ERP-POC
APP_ENV=production
APP_KEY=base64:cG9jLWFwcC1rZXktbm90LXJlYWxseS11c2VkLWFueXdoZXJl

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ltu_erp
DB_USERNAME=ltu
DB_PASSWORD=changeme

SESSION_DRIVER=file

# Token mà Ansible gọi /_internal/health
INTERNAL_HEALTH_TOKEN=changeme-health-token
